.accordion {
  &-header {
    button {
      background-color: white !important;
      color: black !important;
      font-weight: $extraBold;
      &:focus {
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0.125);
      }
    }
  }
}
