@import "./variables.scss";
@import "./login.scss";
@import "./loginCard.scss";
@import "./input.scss";
@import "./button.scss";
@import "./mobileNavbar.scss";
@import "./mobile.scss";
@import "./table.scss";
@import "./transaction.scss";
@import "./webNavbar.scss";
@import "./pageTitle.scss";
@import "./cardWrapper.scss";
@import "./card.scss";
@import "./addAccountModal.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

*,
*::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.font-bold {
  font-weight: $bold;
}

.text-left {
  text-align: left !important;
}

.primary-bg-color {
  background-color: $primary-color;
}

.peach-bg {
  background-color: $peach;
}

.light-black-bg {
  background-color: $light-black;
}

.web-cotnainer {
  // padding-top: 4.5rem;
  padding: 5.75rem 2.5rem 0px 2.5rem;
}
