.table {
  border-collapse: collapse;
  width: 100%;

  thead {
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    th {
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dee2e6;
      text-align: center;
      td {
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
      }
    }
  }
}
