$primary-color: #b42525;
$primary-color-hover: #8e1d1d;
$peach: #fb8a5a;
$black: #152536;
$light-black: #343a40;
$light-gray: #abb5be;
$gray: #6c757d;
$yellow: #ffd643;

// font weight
$regular: 400;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
