.WebNavbar {
  height: 3rem;
  background-color: $primary-color;
  list-style-type: none;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  li {
    &:not(:first-child) {
      margin-left: 1.25rem;
    }
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: $yellow;
      }
    }

    .active {
      color: $yellow;
    }
  }
}
